{% extends 'base.html' %}

{%load widget_tweaks%}
{% block title %}
{{block.super}} - Cadastro de Professor
{% endblock title %}

{% block body %}




<div class="container">
    {% include 'partials/messages.html' %}

    <div class="row">
        <div class="input-field col s5">

            <div class="form-group">
                <h3>Novo Professor</h3>
            </div>
            <form action="." method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.nome.id_for_label }}">Nome:</label>
                    {{ form.nome|add_class:"form-control"|attr:"autofocus" }}
                </div>

                <div class="form-group">
                    <label for="{{ form.cpf.id_for_label }}">CPF:</label>
                    {{ form.cpf|add_class:"form-control"|attr:"autofocus" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">E-Mail</label>
                    {{ form.email|add_class:"form-control"|attr:"autofocus"}}
                </div>
                <div class="form-group">
                    <label for="{{ form.formacao.id_for_label }}">Formação</label>
                    {{ form.formacao|add_class:"form-control"|attr:"autofocus"}}
                </div>

                <div class="form-group">
                    <label for="{{ form.birthdate.id_for_label }}">Data de Nascimento:</label>
                    {{form.birthdate|add_class:"datepicker"}}

                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>

        </div>



        </form>
    </div>
</div>




</div>

{% endblock body%}